 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 911px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  width: 235px;
  margin: 35px auto 0;
}

.u-section-1 .u-image-1 {
  width: 215px;
  height: 1px;
  margin: 42px auto 0 95px;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: -11px 826px 0 96px;
}

.u-section-1 .u-image-2 {
  width: 300px;
  height: 1px;
  margin: -8px auto 0 95px;
}

.u-section-1 .u-image-3 {
  width: 622px;
  height: 484px;
  margin: 6px 109px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: -528px 336px 0 423px;
}

.u-section-1 .u-text-4 {
  margin: -15px 927px 0 90px;
}

.u-section-1 .u-text-5 {
  margin: 42px 928px 0 90px;
}

.u-section-1 .u-text-6 {
  margin: 35px 927px 0 90px;
}

.u-section-1 .u-text-7 {
  margin: 35px 917px 0 90px;
}

.u-section-1 .u-text-8 {
  margin: 44px 902px 60px 90px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 213px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 41px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -49px;
    margin-right: 722px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 30px;
    margin-left: 96px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 50px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -565px;
    margin-right: 236px;
    margin-left: 323px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 817px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 817px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 817px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 806px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 791px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 502px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 98px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 126px;
    margin-left: 213px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 597px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 597px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 597px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 586px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 571px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 847px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: 224px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -77px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-right: 322px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 62px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 420px;
    margin-top: 60px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -511px;
    margin-right: 36px;
    margin-left: 123px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 417px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 417px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 417px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 406px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 391px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 274px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -127px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 122px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 40px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 264px;
    margin-top: 110px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -405px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 217px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 217px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 217px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 206px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 191px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 627px;
}

.u-section-2 .u-text-1 {
  margin: 32px 164px 0 auto;
}

.u-section-2 .u-text-2 {
  margin: -52px 736px 0 141px;
}

.u-section-2 .u-image-1 {
  width: 386px;
  height: 355px;
  margin: 20px auto 0 92px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 433px;
  margin: -343px 92px 60px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 353px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 19px;
}

.u-section-2 .u-form-1 {
  height: 343px;
  width: 393px;
  margin: 0 auto;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  background-image: none;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 636px;
  }

  .u-section-2 .u-form-1 {
    width: 188px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 457px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 277px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 103px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -10px;
    margin-right: 77px;
    margin-left: 89px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 313px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 410px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 290px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 290px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-social-icons-1 {
  height: 39px;
  min-height: 16px;
  width: 95px;
  min-width: 49px;
  margin: 72px auto 0;
}

.u-section-3 .u-icon-1 {
  color: rgb(197, 54, 164) !important;
  height: 39px;
}

.u-section-3 .u-icon-2 {
  height: 39px;
  color: rgb(210, 34, 21) !important;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 239px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 214px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 344px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 217px;
  }
}